

/* The whole tree ul wrapper */
div.wholetree {
	font-weight: bold;
}

div.wholetree ul li {
	list-style-type: none;
}

.adminnav ul {
	list-style-type: none;
}

ul.top-options {
	list-style-type: none;
}

ul.top-options {
	padding-left: 0;
}

ul.top-options li {
	display: inline;
}

div.pagestatus {
	float: right;
	clear: both;
	
}

div.adminnav ul {
	-webkit-padding-start: 0px;
}

footer {
	margin-top: 20px;
}

